.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    margin: 10px auto;
    padding: 32px;
    border: none;
    border-radius: 16px;
    background-color: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(2px);
}

.cards__imagen {
    align-self: center;
    width: 260px;
    height: 155px;
    margin-bottom: 20px;
}

.cards__titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #FFF;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

.cards__texto {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FFF;
    margin: 0;
    text-align: left;
}